body {
    font-family: 'Roboto', sans-serif !important;
    background: #0c0c0c;
    margin: 0;
    padding: 0;
}

a {
    color: #2bbfd6;
}

.navlogo{
    margin-right: 13px !important;
    height: 16px !important;
    width: 16px !important;
}

.loginlogo{
    margin: 5px !important;
    margin-bottom: 10px !important;
    height: 24px !important;
    width: 24px !important;
}

.editform,.loginform{
    width: 50vw;
    margin-left: auto!important;
    margin-right: auto!important;
    border: solid;
    border-color: #2bbfd6;
    border-radius: 3px;
    border-width: 1px 2px;
}

.about {
    width: 50vw;
    margin-left: auto!important;
    margin-right: auto!important;
    border: solid;
    border-color: #2bbfd6;
    border-radius: 4px;
    border-width: 1px;
}

.centered {
    text-align: center;
}
.footer {
    position: absolute!important;
    bottom: 0;
    width: 100%;
    height: 3.3rem;
    border-top: solid !important;
    border-top-width: 1px !important;
    border-top-color: #2bbfd6 !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 4.3rem;
    padding-top: 4em;
}

table {
    margin-left: auto!important;
    margin-right: auto!important;
}

@media screen and (max-width: 800px) {
    .ui.collapsing.table,.about,.editform,.loginform{
        width: 96vw!important;
    }
    #page-container {
    padding-top: 13em;
    }
}