<div class="editform">
    <div class="ui attached message inverted">
        <div class="header inverted">
            Add Imageboard
        </div>
    </div>
    <form class="ui form attached fluid segment inverted" method="POST">
        {{ form.hidden_tag() }}
            <div class="field three wide">
                <label>Activity</label>
                {{ form.activity(placeholder="Number of post") }}
            </div>
        <div class="field">
            <label>Name</label>
            {{ form.name(placeholder="Enter name") }}
        </div>
        <div class="field">
            <label>URL</label>
            {{ form.url(placeholder="Enter URL") }}
        </div>
        <div class="field">
            <label>Mirrors</label>
            {{ form.mirrors(placeholder="Enter mirrors") }}
        </div>
        <div class="two fields">
            <div class="field">
                <label>Language</label>
                {{ form.language(placeholder="Enter language") }}
            </div>
            <div class="field">
                <label>Software</label>
                {{ form.software(placeholder="Enter software") }}
            </div>
        </div>
        <div class="field">
            <label>Favicon</label>
            {{ form.favicon(placeholder="Enter favicon URL") }}
        </div>
        <div class="field">
            <label>Boards</label>
            {{ form.boards(placeholder="Enter boards") }}
        </div>
        <div class="field">
            <label>Description</label>
            {{ form.description() }}
        </div>
            {{ form.submit(class="ui button green inverted") }}
            <a href="/" class="ui button inverted">Cancel</a>
    </form>
</div>