<div class="editform">
    <div class="ui attached message inverted">
        <div class="header inverted">
            Add Imageboard
        </div>
    </div>
    <form class="ui form attached fluid segment inverted error" method="POST">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="ui error message">
                <div class="header">Action Forbidden</div>
                <p>{{ message }}</p>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {{ form.hidden_tag() }}
        <div class="field">
            <label>Name</label>
            {{ form.name(placeholder="Enter name") }}
        </div>
        <div class="field">
            <label>URL</label>
            {{ form.url(placeholder="Enter URL") }}
        </div>
        <div class="field">
            <label>Mirrors (Ex: myboard.net,myboard.fun)</label>
            {{ form.mirrors(placeholder="Enter mirrors") }}
        </div>
        <div class="two fields">
            <div class="field">
                <label>Language</label>
                {{ form.language(placeholder="Enter language") }}
            </div>
            <div class="field">
                <label>Software (Ex: tinyboard,vichan,jschan)</label>
                {{ form.software(placeholder="Enter software") }}
            </div>
        </div>
        <div class="field">
            <label>Favicon</label>
            {{ form.favicon(placeholder="Enter favicon URL") }}
        </div>
        <div class="field">
            <label>Boards (Ex: \b\ Random, \g\ Computer)</label>
            {{ form.boards(placeholder="Enter boards") }}
        </div>
        <div class="field">
            <label>Description, A small description of your imageboard.</label>
            {{ form.description() }}
        </div>
        <div class="h-captcha" data-sitekey="{{ sitekey }}" data-theme="dark"></div>
            {{ form.submit(class="ui button teal inverted") }}
            <a href="/" class="ui button inverted">Cancel</a>
    </form>
</div>