<div class="editform">
    <div class="ui attached message inverted">
        <div class="header inverted">
            Claim Imageboard
        </div>
    </div>
    <form class="ui form attached fluid segment inverted error" method="POST">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="ui error message">
                <div class="header">Action Forbidden</div>
                <p>{{ message }}</p>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {{ form.hidden_tag() }}
        
        <div class="field">
            
            <table class="ui compact unstackable celled scrolling table inverted">
                <thead>
                
                  <tr>
                    <th class="one wide">ID</th>
                    <th class="two wide">name</th>
                    <th class="five wide">url</th>
                  </tr>
                </thead>
                <tbody>
                    {% for imb in imageboards %}
                    <tr>
                    <td class="one wide" >{{ imb.id }}</td>
                    <td class="two wide">{{ imb.name }}</td>
                    <td class="five wide"><a href="{{ imb.url }}">{{ imb.url }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>

        </div>

        <div class="field">
            <label>ID</label>
            {{ form.id(placeholder="Enter Imageboard ID") }}
        </div>
        <p> To validate the claim, you need to add the following TXT record to your DNS :</p>
        <p> <b> @ ibclaim-{{ useruuid }}</b> </p>
        <div class="h-captcha" data-sitekey="{{ sitekey }}"></div>
            {{ form.submit(class="ui button teal inverted") }}
            <a href="/myclaims" class="ui button inverted">Cancel</a>
    </form>
</div>