<h2 class="text-center text-light mb-4">
    Massive Imageboard Import
</h2>
<div class="editform card bg-dark text-light">
    <div class="card-body">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">
                <div class="fw-semibold">Action Forbidden</div>
                <p class="mb-0">{{ message }}</p>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <form method="POST">

            {{ form.hidden_tag() }}
            <div class="mb-3">
                <label class="form-label">Imageboards</label>
                {{ form.imageboards(placeholder="Enter imageboards ( eg. https://myboard.net , https://myboard.org )",rows="10", class="form-control text-bg-dark") }}
            </div>
                {{ form.submit(class="btn btn-outline-info me-2") }}
                <a href="/" class="btn btn-outline-secondary">Cancel</a>
        </form>
    </div>
</div>
