<h2 class="ui center aligned icon header inverted">
    <img src="{{ url_for('static', filename='favicon.ico') }}" class="loginlogo"> Blossom <img src="{{ url_for('static', filename='favicon.ico') }}" class="loginlogo">
</h2>
<div class="loginform">
    <div class="ui attached message inverted">
        <div class="header inverted">
            Login
        </div>
    </div>
    <div class="ui form attached fluid segment inverted error">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="ui error message">
                <div class="header">Action Forbidden</div>
                <p>{{ message }}</p>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <form method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32, class="inverted") }}<br>
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
            </p>
            <div class="h-captcha" data-sitekey="{{ sitekey }}" data-theme="dark"></div>
            <p>{{ form.submit(class="ui button teal inverted") }}
                <a href="/register" class="ui button inverted">Register</a>
            </p>
        </form>
    </div>
</div>