<h2 class="text-center text-light mb-4">
    <img src="{{ url_for('static', filename='favicon.ico') }}" class="loginlogo" alt="logo"> Blossom <img src="{{ url_for('static', filename='favicon.ico') }}" class="loginlogo" alt="logo">
</h2>
<div class="loginform card bg-dark text-light">
    <div class="card-header border-info text-center">
            Login
    </div>
    <div class="card-body">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">
                <div class="fw-semibold">Action Forbidden</div>
                <p class="mb-0">{{ message }}</p>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <form method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(size=32, class="form-control text-bg-dark") }}
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(size=32, class="form-control text-bg-dark") }}
            </div>
            <div class="mb-3">
                <div class="h-captcha" data-sitekey="{{ sitekey }}" data-theme="dark"></div>
            </div>
            <div class="d-flex gap-2">
                {{ form.submit(class="btn btn-outline-info") }}
                <a href="/register" class="btn btn-outline-secondary">Register</a>
            </div>
        </form>
    </div>
</div>
