<div class="editform">
    <div class="ui attached message inverted">
        <div class="header inverted">
            Add user
        </div>
    </div>
    <form class="ui form attached fluid segment inverted" method="POST">
        {{ form.hidden_tag() }}
        <div class="field">
            <label>Username</label>
            {{ form.username(placeholder="Enter username") }}
        </div>
        <div class="field">
            <label>Password</label>
            {{ form.password(placeholder="Enter password") }}
        </div>
        <div class="field">
            <label>Role</label>
            {{ form.role(placeholder="Enter role") }}
        </div>
        <div class="field">
            <label>Imageboards</label>
            {{ form.imageboards(placeholder="Enter imageboards") }}
        </div>
        {{ form.submit(class="ui button teal inverted") }}
        <a href="/users" class="ui button inverted">Cancel</a>
    </form>
</div>