<h2 class="ui center aligned icon header inverted">
  <i class="circular spa icon inverted"></i>
  Blossom
</h2>
<div class="ui message inverted about">
  <div class="ui header inverted">About Us</div>
  <p> Such GOOD software NICE</p>
  <p> Very fast, much wow</p>
  <p> fell free to contribute to the project</p>
  <p> me@imageboards.net </p>
</div>
<div class="ui message inverted about">
    <div class="ui header inverted">Endpoints</div>
    <p> imageboards.json endpoint</p>
    <div class="ui action fluid input">
        <input type="text" value="https://blossom.imageboards.net/imageboards.json" readonly>
        <button class="ui inverted right labeled icon button">
          <i class="copy icon"></i>
          Copy
        </button>
      </div>
      <p> imageboards.json endpoint (legacy)</p>
      <div class="ui action fluid input">
          <input type="text" value="https://blossom.imageboards.net/imageboards_legacy.json" readonly>
          <button class="ui inverted right labeled icon button">
            <i class="copy icon"></i>
            Copy
          </button>
        </div>
</div>
