<h2 class="ui center aligned icon header inverted">
  <i class="circular spa icon inverted"></i>
  Blossom
</h2>
<div class="ui message inverted about">
  <div class="ui header inverted">About Us</div>
  <p> This software is designed to provide an easy-to-navigate management list for imageboards. Built on a Flask stack, Blossom runs in a Docker container.</p>
  <p> fell free to contribute to the project : <a href="https://github.com/imageboardsnet/Blossom">Blossom Github</a> </p>
  <p>Contact : me@imageboards.net </p>
</div>
<div class="ui message inverted about">
    <div class="ui header inverted">Endpoints</div>
    <p> imageboards.json endpoint</p>
    <div class="ui action fluid input">
        <input type="text" value="https://blossom.imageboards.net/imageboards.json" readonly>
        <button class="ui inverted teal right labeled icon button">
          <i class="copy icon"></i>
          Copy
        </button>
      </div>
      <p> imageboards.json endpoint (legacy, like ccd0 list)</p>
      <div class="ui action fluid input">
          <input type="text" value="https://blossom.imageboards.net/imageboards_legacy.json" readonly>
          <button class="ui inverted teal right labeled icon button">
            <i class="copy icon"></i>
            Copy
          </button>
        </div>
</div>
