  <h2 class="ui center aligned icon header inverted">
    My Imageboards List
    <br>
    <div class="sub header inverted"><a href="/imageboard/add" class="ui button teal inverted">Add Imageboard</a> <a href="/imageboard/claim" class="ui button teal inverted">Claim Imageboard</a></div>
  </h2>
<div class="ui fluid container inverted">

    <div class="ui inverted message about"> 
        <p>To begin, you have two options: add a new imageboard to the database or claim an existing one. </p> 
        <p>Note that manual validation is necessary for it to appear in the public database.</p>
    </div>

    <table class="ui compact striped collapsing table list sortable inverted">
    <thead>
        <tr>
            <th class="sorted descending one wide">ID</th>
            <th class="two wide">Name</th>
            <th class="three wide">Url</th>
            <th class="two wide">Description</th>
            <th class="one wide">Mirror(s)</th>
            <th class="two wide">Software(s)</th>
            <th class="one wide">Language(s)</th>
            <th class="one wide">Status</th>
            <th class="two wide">Actions</th>
        </tr>
    </thead>
    {% for imb in imageboards %}
    <tr>
        <td>{{ imb.id }}</td>
        <td>{{ imb.name }}</td>
        <td><a href="{{ imb.url }}" target="_blank">{{ imb.url }}</a></td>
        <td>{{ imb.description }}</td>
        <td>
            {% if imb.mirrors is defined and imb.mirrors | length > 0  %}
                Yes
            {% else %}
                No
            {% endif %}
        </td>
        <td>
            {% for sw in imb.software %}
                {{ sw }}
            {% endfor %}
        </td>
        <td>
            {% for lg in imb.language %}
                {{ lg }}
            {% endfor %}
        </td>
        <td>
            {% if imb.status == 'active' %}
                <div class="ui green fluid label inverted"><i class="bolt icon"></i>Active</div>
            {% elif imb.status == 'archive' %}
                <div class="ui yellow fluid label inverted"><i class="history icon"></i>Archive</div>
            {% elif imb.status == 'pending' %}
                <div class="ui grey fluid label inverted"><i class="hourglass outline icon"></i>Pending</div>
            {% elif imb.status == 'offline' %}
                <div class="ui red fluid label inverted"><i class="skull crossbones icon"></i>Offline</div>
            {% elif imb.status == 'hiden' %}
                <div class="ui black fluid label inverted"><i class="ghost  icon"></i>Hiden</div>
            {% elif imb.status == 'deleted' %}
                <div class="ui black fluid label inverted"><i class="trash icon"></i>Deleted</div>
            {% elif imb.status == 'pending-offline' %}
                <div class="ui grey fluid label inverted"><i class="hourglass outline icon"></i>Offline</div>
            {% elif imb.status == 'pending-deleted' %}
                <div class="ui grey fluid label inverted"><i class="hourglass outline icon"></i>Deleted</div>
            {% elif imb.status == 'pending-active' %}
                <div class="ui grey fluid label inverted"><i class="hourglass outline icon"></i>Active</div>
            {% elif imb.status == 'pending-inactive' %}
                <div class="ui grey fluid label inverted"><i class="hourglass outline icon"></i>Inactive</div>
            {% endif %}
        </td>
        <td>
            <a href="/imageboard/edit/{{ imb.id }}" class="ui button inverted"><i class="edit icon"></i> Edit</a>
            <a href="/imageboard/delete/{{ imb.id }}" class="ui button red  inverted"><i class="trash icon"></i> Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>