<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <title>{{ title }} </title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static',filename='css/semantic.min.css') }}">
    <script src="{{ url_for('static',filename='js/semantic.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
    
</head>

<body>
    {{ navbar |safe }}
    <div id="page-container">
        <div id="content-wrap">
                {{ content |safe }}
        </div>
        <div class="ui footer segment center inverted">
            <div class="ui container inverted">
                <div class='centered'>
                    <h4 class="ui header inverted">ImageBoards.net | 2025 | <a href="https://github.com/imageboardsnet/Blossom">Blossom 2.1.0</a></h4>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

