<div class="loginform">
    <div class="ui attached message">
        <div class="header">
            Login
        </div>
    </div>
    <div class="ui form attached fluid segment">
        <form method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
            </p>
            <p>{{ form.submit(class="ui button") }}</p>
        </form>
    </div>
</div>