  <h2 class="ui center aligned icon header inverted">
    <i class="circular fist raised icon inverted"></i>
    My Claimed Imageboards
    <div class="sub header inverted"><a href="/dashboard/add" class="ui button inverted">Add Imageboard</a> <a href="/dashboard/claim" class="ui button inverted">Claim Imageboard</a></div>
  </h2>
<div class="ui fluid container inverted">

    <div class="ui message red about">
        <p> To validate the claim, you need to add the following TXT record to your DNS :</p>
        <p> <b>ibclaim-{{ useruuid }}</b> </p>
    </div>
    

    <table class="ui striped collapsing table list sortable inverted">
    <thead>
        <tr>
            <th class="sorted descending">ID</th>
            <th class="">name</th>
            <th class="">description</th>
            <th class="">url</th>
            <th class="">boards</th>
            <th class="">activity</th>
            <th class="">mirrors</th>
            <th class="">software</th>
            <th class="">language</th>
            <th class="">status</th>
            <th class="">actions</th>
        </tr>
    </thead>
    {% for imb in imageboards %}
    <tr>
        <td>{{ imb.id }}</td>
        <td>{{ imb.name }}</td>
        <td>{{ imb.description }}</td>
        <td><a href="{{ imb.url }}">{{ imb.url }}</a></td>
        <td>{% for board in imb.boards %}
            {{ board }}
            {% endfor %}
        </td>
        <td>{{ imb.activity }}</td>
        <td>
            {% if imb.mirrors is defined %}
                Yes
            {% else %}
                No
            {% endif %}
        </td>
        <td>
            {% for sw in imb.software %}
                {{ sw }}
            {% endfor %}
        </td>
        <td>
            {% for lg in imb.language %}
                {{ lg }}
            {% endfor %}
        </td>
        <td>
            {% if imb.status == 'active' %}
                <div class="ui green label inverted">Active</div>
            {% elif imb.status == 'inactive' %}
                <div class="ui yellow label inverted">Inactive</div>
            {% elif imb.status == 'pending' %}
                <div class="ui grey label inverted">Pending</div>
            {% elif imb.status == 'offline' %}
                <div class="ui red label inverted">Offline</div>
            {% elif imb.status == 'deleted' %}
                <div class="ui black label inverted">Deleted</div>
            {% endif %}
        </td>
        <td>
            <a href="/dashboard/claim/{{ imb.id }}" class="ui button blue inverted"><i class="refresh icon"></i> Check</a>
            <a href="/dashboard/unclaim/{{ imb.id }}" class="ui button red inverted"><i class="trash icon"></i> Unclaim</a>
        </td>
    </tr>
    {% endfor %}

</table>



</div>