  <h2 class="ui center aligned icon header inverted">
    <i class="circular fist raised icon inverted"></i>
    My Claimed Imageboards
    <div class="sub header inverted"><a href="/imageboard/add" class="ui button inverted">Add Imageboard</a> <a href="/imageboard/claim" class="ui button inverted">Claim Imageboard</a></div>
  </h2>
<div class="ui fluid container inverted">

    <div class="ui message red about">
        <p> To validate a claim, you need to add the following TXT record to your DNS :</p>
        <p> <b> @ ibclaim-{{ useruuid }}</b> </p>
    </div>
    

    <table class="ui striped collapsing table list sortable inverted">
    <thead>
        <tr>
            <th class="sorted descending one wide">ID</th>
            <th class="two wide">name</th>
            <th class="three wide">url</th>
            <th class="two wide">description</th>
            <th class="one wide">mirrors</th>
            <th class="two wide">software</th>
            <th class="one wide">language</th>
            <th class="one wide">status</th>
            <th class="two wide">actions</th>
        </tr>
    </thead>
    {% for imb in imageboards %}
    <tr>
        <td>{{ imb.id }}</td>
        <td>{{ imb.name }}</td>
        <td><a href="{{ imb.url }}">{{ imb.url }}</a></td>
        <td>{{ imb.description }}</td>
        <td>
            {% if imb.mirrors is defined and imb.mirrors | length > 0  %}
                Yes
            {% else %}
                No
            {% endif %}
        </td>
        <td>
            {% for sw in imb.software %}
                {{ sw }}
            {% endfor %}
        </td>
        <td>
            {% for lg in imb.language %}
                {{ lg }}
            {% endfor %}
        </td>
        <td>
            {% if imb.status == 'active' %}
                <div class="ui green label inverted">Active</div>
            {% elif imb.status == 'inactive' %}
                <div class="ui yellow label inverted">Inactive</div>
            {% elif imb.status == 'pending' %}
                <div class="ui grey label inverted">Pending</div>
            {% elif imb.status == 'offline' %}
                <div class="ui red label inverted">Offline</div>
            {% elif imb.status == 'deleted' %}
                <div class="ui black label inverted">Deleted</div>
            {% endif %}
        </td>
        <td>
            <a href="/imageboard/claim/{{ imb.id }}" class="ui button blue inverted"><i class="refresh icon"></i> Check</a>
            <a href="/imageboard/unclaim/{{ imb.id }}" class="ui button red inverted"><i class="trash icon"></i> Unclaim</a>
        </td>
    </tr>
    {% endfor %}

</table>



</div>