<div class="ui menu fixed navbar inverted">
    <a class="item" href='/dashboard'><i class="comments icon"></i>My Imageboards</a>
    <a class="item" href='/myclaims'><i class="fist raised icon"></i>My Claims</a>
    <a class="item" href='/imageboard/add'><i class="plus icon"></i>Add Imageboard</a>
    <a class="item" href='/imageboard/claim'><i class="exclamation icon"></i>Claim Imageboard</a>
    {% if admin == True %}
        <a class="item" href='/users'><i class="users icon"></i>Users</a>
        <a class="item" href='/user/add'><i class="plus icon"></i>Add User</a>
        <a class="item" href='/sauron'><i class="eye icon"></i>Sauron</a>
    {% endif %}
    <a class="item" href='/about'><i class="info icon"></i>About</a>
    <div class="right menu">
        <a class="item" href='/logout'><i class="user icon"></i>{{ user }} | Logout</a>
    </div>
</div>