<h2 class="ui center aligned icon header inverted">
    Sauron
    <div class="sub header inverted"><a href="/sauron/run" class="ui button teal inverted">Run Sauron</a> <a href="/sauron/stop" class="ui button red inverted">Stop Sauron</a></div>
  </h2>
<div class="ui fluid container inverted">


    <table class="ui compact striped collapsing table list sortable inverted">
    <thead>
        <tr>
            <th class="sorted descending one wide">ID</th>
            <th class="two wide">Url</th>
            <th class="one wide">Status</th>
            <th class="one wide">Sauron Status</th>
            <th class="two wide">Actions</th>
        </tr>
    </thead>
    {% for imb in imageboards %}
    <tr>
        <td>{{ imb.id }}</td>
        <td><a href="{{ imb.url }}" target="_blank">{{ imb.url }}</a></td>
        <td>
            {% if imb.status == 'active' %}
                <div class="ui green fluid label inverted"><i class="bolt icon"></i>Active</div>
            {% elif imb.status == 'archive' %}
                <div class="ui yellow fluid label inverted"><i class="history icon"></i>Archive</div>
            {% elif imb.status == 'pending' %}
                <div class="ui grey fluid label inverted"><i class="hourglass outline icon"></i>Pending</div>
            {% elif imb.status == 'offline' %}
                <div class="ui red fluid label inverted"><i class="skull crossbones icon"></i>Offline</div>
            {% elif imb.status == 'hiden' %}
                <div class="ui black fluid label inverted"><i class="ghost  icon"></i>Hiden</div>
            {% elif imb.status == 'deleted' %}
                <div class="ui black fluid label inverted"><i class="trash icon"></i>Deleted</div>
            {% elif imb.status == 'pending-offline' %}
                <div class="ui grey fluid label inverted"><i class="hourglass outline icon"></i>Offline</div>
            {% elif imb.status == 'pending-deleted' %}
                <div class="ui grey fluid label inverted"><i class="hourglass outline icon"></i>Deleted</div>
            {% elif imb.status == 'pending-active' %}
                <div class="ui grey fluid label inverted"><i class="hourglass outline icon"></i>Active</div>
            {% elif imb.status == 'pending-inactive' %}
                <div class="ui grey fluid label inverted"><i class="hourglass outline icon"></i>Inactive</div>
            {% endif %}
        </td>
        <td>
            {% if imb.sauron_status == 'active' %}
                <div class="ui green fluid label inverted"><i class="bolt icon"></i>Active</div>
            {% elif imb.sauron_status == 'archive' %}
                <div class="ui yellow fluid label inverted"><i class="history icon"></i>Archive</div>
            {% elif imb.sauron_status == 'pending' %}
                <div class="ui grey fluid label inverted"><i class="hourglass outline icon"></i>Pending</div>
            {% elif imb.sauron_status == 'offline' %}
                <div class="ui red fluid label inverted"><i class="skull crossbones icon"></i>Offline</div>
            {% elif imb.sauron_status == 'hiden' %}
                <div class="ui black fluid label inverted"><i class="ghost  icon"></i>Hiden</div>
            {% elif imb.sauron_status == 'deleted' %}
                <div class="ui black fluid label inverted"><i class="trash icon"></i>Deleted</div>
            {% endif %}
        </td>
        <td>
            <div class="ui action inverted teal input">
                <select class="ui compact selection inverted dropdown" id="status-select-{{ imb.id }}">
                    <option value="active">Active</option>
                    <option value="archive">Archive</option>
                    <option value="pending">Pending</option>
                    <option value="offline">Offline</option>
                    <option value="hiden">Hiden</option>
                    <option value="deleted">Deleted</option>
                </select>
                <div class="ui inverted grey button" onclick="setStatus({{ imb.id }})">Set Status</div>
            </div>
            <a href="/imageboard/edit/{{ imb.id }}" class="ui button inverted"><i class="edit icon"></i> Edit</a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>