<div class="ui container inverted">
    <h2 class="ui center aligned icon header inverted">
        <i class="circular users icon inverted"></i>
        Users List
      </h2>

    <table class="ui celled table inverted">
        <thead>
            <tr>
                <th class="one wide">ID</th>
                <th class="one wide">Username</th>
                <th class="two wide">Creation date</th>
                <th class="one wide">Role</th>
                <th class="two wide">Imageboards</th>
                <th class="two wide">Claims</th>
                <th class="thre wide">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.creation_date | humane_date }}</td>
                <td>{{ user.role }}</td>
                <td>
                    {% if user.imageboards %}
                        {% for imageboard in user.imageboards %}
                        <a href="/imageboard/edit/{{ imageboard }}">{{ imageboard }}</a>
                        {% endfor %}
                    {% else %}
                    none
                    {% endif %}
                </td>
                <td>
                    {% if user.claim %}
                        {% for claim in user.claim %}
                        <a href="/imageboard/edit/{{ claim }}">{{ claim }}</a>
                        {% endfor %}
                    {% else %}
                    none
                    {% endif %}
                <td>
                    <a href="/user/edit/{{ user.id }}" class="ui button inverted"><i class="edit icon"></i> Edit</a>
                    <a href="/user/reset/{{ user.id }}" class="ui button inverted"><i class="key icon"></i> Reset password</a>
                    <a href="/user/delete/{{ user.id }}" class="ui button red inverted"><i class="trash icon"></i> Delete</a>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>